{% extends "base.jinja" %}

{% set title = "Delete Event" %}
{% set iteration = 5 %}
{% set mode = "admin" %}


{% block content %}
<h1 class="mt-4">{{ title }}</h1>

<p>Are you sure you want to delete this event?</p>

<form action="" method="post">
{{ form.hidden_tag() }}

<div class="my-2">
    <span class="bold">{{ event.name }}</span><br>
    {{ event.description }}
</div>
<div class="my-2">
    <label class="datalabel">Event date</label>
    {{ event.displayDate() }}
</div>
<div class="my-2">
    <label class="datalabel">Tickets</label>
    {% for ticketType in event.getTicketTypes() %}
        {% if loop.first %}
        <table>
            <tbody>
        {% endif %}
                <tr>
                    <td class="pe-3">{{ ticketType.name }}</td>
                    <td class="px-3">{{ ticketType.description }}</td>
                    <td class="px-3">￥{{ ticketType.cost }}</td>
                    <td class="ps-3">{{ticketType.ticketsSold() }} of {{ticketType.ticketsTotal }} sold</td>
                </tr>
        {% if loop.last %}
            {% if event.getTicketTypes()|length > 1 %}
                <tr>
                    <td class="pe-3">Total</td>
                    <td></td>
                    <td></td>
                    <td class="ps-3">{{event.ticketsSold() }} of {{event.ticketsTotal() }} sold</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% endif %}
    {% else %}
    <p>No ticket types have been defined.</p>
    {% endfor %}
</div>

<div class="mt-4">
    <a href="{{ url_for('adminEventDetail', eventId=event.id()) }}" role="button" class="btn btn-primary btn-sm">Cancel</a>
    {{ form.submitButton( class="btn btn-outline-primary btn-sm" ) }}
</div>
</form>
{% endblock %}
