<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title|default("mongo_objects Sample App")}}</title>
    <link href="/static/cdn/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block headExtras %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('customerEventList') }}">mongo_objects Sample App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('customerEventList') }}">Home</a>
                    </div>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mode
                        </a>
                        <div class="dropdown-menu">
                            {% if mode and mode == "customer" %}
                            <a href="{{ url_for( 'customerEventList' ) }}" class="nav-link active" aria-current="set">Customer</a>
                            {% else %}
                            <a href="{{ url_for( 'customerEventList' ) }}" class="nav-link">Customer</a>
                            {% endif %}
                            {% if mode and mode == "admin" %}
                            <a href="{{ url_for( 'adminEventList' ) }}" class="nav-link active" aria-current="set">Admin</a>
                            {% else %}
                            <a href="{{ url_for( 'adminEventList' ) }}" class="nav-link">Admin</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-xl-6 col-lg-8 col-md-10">

    {% for (category, message) in get_flashed_messages( with_categories=True ) %}
    {% if category not in( ['danger', 'success', 'warning'] ) %}
    {% set category = 'primary' %}
    {% endif %}
        <div class="alert alert-{{category}}" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="/static/cdn/jquery/3.7.1/jquery-3.7.1.min.js"></script>
    <script src="/static/cdn/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    {% block bodyExtras %}{% endblock %}
</body>
</html>
